django
django-environ
djangorestframework
django-cors-headers
django-filter
django-autoslug
django-countries
django-phonenumber-field
phonenumbers
drf-yasg
Pillow
argon2-cffi
pytz
django-taggit
redis
celery==5.3.4
importlib-metadata==4.0.0
flower
django-celery-email
django-allauth
djangorestframework-simplejwt
dj-rest-auth
django-elasticsearch-dsl
django-elasticsearch-dsl-drf

psycopg2-binary

flake8
black
isort
watchfiles

pytest-django
pytest-factoryboy
Faker
pytest-cov
whitenoise