Django
djangorestframework
django-environ
django-filter
drf-yasg
djangorestframework-simplejwt
django-cors-headers
celery
pytest
django_countries
django-phonenumber-field
phonenumbers
drf-yasg
Pillow
argon2-cffi
pytz
django-taggit
redis
flower
django-celery-email
django-allauth
djangorestframework-simplejwt
dj-rest-auth
django-elasticsearch-dsl
django-elasticsearch-dsl-drf
